version: 1.0.{build}
image: Visual Studio 2015

configuration:
- Debug
- Release

platform: Any CPU

environment:
  EnableNuGetPackageRestore: true

before_build:
- nuget restore

build:
  verbosity: minimal
  project: JustCapture.sln

artifacts:
- path: JustCapture\bin\Debug
- path: JustCapture\bin\Release
