version: 1.0.{build}
image: Visual Studio 2017

configuration:
- Debug
- Release

platform: Any CPU

build_script:
- msbuild /t:Restore,Rebuild /p:Platform="%PLATFORM%" /p:Configuration="%CONFIGURATION%" JustCapture.sln

after_build:
- ps: $env:PRODUCT_VERSION=(Get-Command "$env:APPVEYOR_BUILD_FOLDER\JustCapture\bin\$env:CONFIGURATION\net40\JustCapture.exe").FileVersionInfo.ProductVersion

artifacts:
- path: JustCapture\bin\$(configuration)\net40
  name: $(APPVEYOR_PROJECT_NAME)_$(PRODUCT_VERSION)-$(configuration)
