version: 1.0.{build}
image: Visual Studio 2015

configuration:
- Debug
- Release

platform: Any CPU

environment:
  EnableNuGetPackageRestore: true

before_build:
- nuget restore

build:
  verbosity: minimal
  project: JustCapture.sln

after_build:
- ps: $env:PRODUCT_VERSION=(Get-Command "$env:APPVEYOR_BUILD_FOLDER\JustCapture\bin\$(configuration)\JustCapture.exe").FileVersionInfo.ProductVersion

artifacts:
- path: JustCapture\bin\$(configuration)
  name: $(APPVEYOR_PROJECT_NAME)_$(PRODUCT_VERSION)-$(configuration)
